@font-face {
  font-family: '筑紫A丸';
  src: local('筑紫A丸'), url(../font.ttf) format('truetype');
}

html {
  font-family: '筑紫A丸';
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}
